* {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

/*========== LIST  ==========*/
.list__background {
    width: 200px;
    min-height: 300px;
    height: auto;
    background-color: darkcyan;
    border: solid grey 1px;
    border-radius: 5px;
    margin: 10px;
}

/*========== ITEM  ==========*/
ul {
    margin-left: -20px;
}

input {
    margin-top: 20px;
    margin-left: 15px;
    width: 150px;
    padding: 5px;
    border: solid grey 1px;
    border-radius: 5px;
    color: #696969;
    background-color: lightgray;
}

li {
    width: 145px;
    height: 30px;
    padding: 5px;
    border: solid grey 1px;
    border-radius: 5px;
    background-color: darkseagreen;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

i {
    font-size: 30px;
    width: 25px;
    height: 25px;
    color: #696969;
    font-weight: bold;
    cursor: pointer;
}