* {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1 {
    font-size: 40px;
}
footer {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1;
}


/*========== LIST  ==========*/
.list__background {
    width: auto;
    height: auto;
    min-height: 500px;
    margin: 10px;
}
.list-inputText {
    margin-top: 10px;
    margin-left: 30px;
    width: 210px;
    padding: 5px;
    border: solid grey 1px;
    border-radius: 5px;
    color: #696969;
    background-color: lightgray;
}
.lists {
   display: flex;
   flex-direction: row;  
}
.list {
    width: 200px;
    min-height: 300px;
    height: auto;
    padding: 5px;
    border: solid grey 1px;
    border-radius: 5px;
    background-color: #bef3f3;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

/*========== ITEM  ==========*/
.items {
    margin-left: -20px;
    display: flex;
    flex-direction: column;
}

.item-input {
    margin-top: 20px;
    margin-left: 15px;
    width: 150px;
    padding: 5px;
    border: solid grey 1px;
    border-radius: 5px;
    color: #696969;
    background-color: lightgray;
}
.item {
    width: 145px;
    height: 30px;
    padding: 5px;
    border: solid grey 1px;
    border-radius: 5px;
    background-color: darkseagreen;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-left: -20px;
}
.list-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
}

/*===========================*/
i {
    font-size: 30px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
}
button {
    cursor: pointer;
}   